################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WoundifyConsole/.vs backup
/.vs/Woundify/v14
/WoundifyConsole/obj/Debug
/WoundifyConsole/bin/Debug
/WoundifyUWP/.vs
/WoundifyUWP/obj/x86/Debug
/WoundifyWpf
/WoundifyUWP
/.vs/config
/packages/NAudio.1.7.3
/packages/Newtonsoft.Json.8.0.1
/Notes.txt
/WoundifyConsole/bin/Release
/WoundifyConsole/obj/Release
/WoundifyConsole/PortabilityAnalysis.html
